
# Snakemake
.snakemake*

# Conda virtual environment
venv*

# Test run
test_example1
test_example2
logs

# MacOSX
.DS_Store
._.DS_Store

# Python
__pycache__

# References
references

masq.egg-info
data

primer_design/design_results/
primer_design/enzyme_cut_sites/*.pickle
primer_design/log.primerdesign*

*.seq_dic.cpickle
*.log
